# docker-compose.yml
version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD:
      MYSQL_DATABASE: medicosbd
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql

  app:
    build: .
    container_name: node_app
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=host.docker.internal   
      - DB_USER=root
      - DB_PASSWORD=
      - DB_NAME=medicosbd
